extends layout 

block content 
    section.about-intro 
        .container 
            h1 About Us 
            p Downtown Donuts is family-owned donut and coffee shop that’s been serving the downtown community since 1992.
    
    section.values.dark-section
        .container 
            h2 What we Believe 
            ul 
                li Freshly baked every morning.
                li Locally sourced ingrediants and roasts. 
                li Community-first
    
    section.visit-us 
        .container 
            h2 Find Us 
            p 123 Main Street, Downtown 
            p Call us: (556) 867-5309
            
