extends layout

block content
  section.hero
    .container
      h1 Welcome to Downtown Dontus
      p  Downtown Donuts has been serving the community since 1992 with Tasty Donuts and great Coffee
      a.button(href="/menu") View Downtown Donuts Menu 
