doctype html
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Downtown Donuts 

    link(rel="stylesheet", href='/stylesheets/style.css')
  
  body 
    nav 
      ul 
        li.logo: a(href="/")
          img(src"/images/logo.png", alt="Downtown Donuts Logo")
        li: a(href="/") Home 
        li: a(href="/menu") Menu 
        li: a(href="/about") About Us 
        li: a(href="/comments") Commments 
    block content 

    footer 
      p.tertiary-text &copy; 2026 Downtown Donuts 
